<mat-stepper [linear]="isLinear" #stepper id="add-order-stepper">
  <mat-step [stepControl]="firstFormGroup">
    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel>Choix du client</ng-template>
      <mat-form-field class="example-full-width">
        <mat-label>Choix du client</mat-label>
        <input
          type="text"
          placeholder="Recherche"
          aria-label="Choix du client"
          matInput
          [formControl]="firstFormGroup.controls.clientControl"
          [matAutocomplete]="auto"
        />
        <mat-autocomplete
          #auto="matAutocomplete"
          [displayWith]="displayClient.bind(this)"
        >
          @for (option of clients; track option) {
            <mat-option [value]="option.id"
              >{{ option.lastname }} {{ option.firstname }}</mat-option
            >
          }
        </mat-autocomplete>
      </mat-form-field>
      <div>
        <button
          mat-button
          matStepperNext
          [disabled]="firstFormGroup.invalid"
          (click)="createOrder()"
        >
          Suivant
        </button>
      </div>
    </form>
  </mat-step>
  <!-- #docregion label -->
  <mat-step [stepControl]="secondFormGroup" label="Commande">
    <!-- <form [formGroup]="secondFormGroup">
      <mat-selection-list
        #cakeList
        [formControl]="cakeControl"
        name="cakes"
        [multiple]="true"
      >
        @for (cake of cakes; track cake) {
          <mat-list-option [value]="cake.id"
            >{{ cake.name }} - {{ cake.parts }} parts -
            {{ cake.price }} €</mat-list-option
          >
        }
      </mat-selection-list>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button
          mat-button
          matStepperNext
          (click)="createOrder()"
          [disabled]="secondFormGroup.invalid"
        >
          Next
        </button>
      </div>
    </form> -->
    <app-table
      [dataSource]="cakes"
      [formGroup]="secondFormGroup"
      [displayedColumns]="['name', 'parts', 'price']"
      [orderTable]="true"
    >
    </app-table>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Terminé</ng-template>
    <p>Commande ajoutée</p>
    <app-button
      [text]="'Retour aux commandes'"
      [route]="'/orders'"
    ></app-button>
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="stepper.reset()">Reset</button>
    </div>
  </mat-step>
</mat-stepper>
