<mat-stepper [linear]="isLinear" #stepper id="add-order-stepper">
  <mat-step [stepControl]="firstFormGroup">
    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel>Choix du client</ng-template>
      <mat-form-field>
        <mat-label>Choix du client</mat-label>
        <mat-select
          class="select"
          [placeholder]="'Choix du client'"
          formControlName="firstCtrl"
        >
          @for (client of clients; track client) {
            <mat-option [value]="client.lastname">{{
              client.lastname
            }}</mat-option>
          }
        </mat-select>
      </mat-form-field>
      <div>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <!-- #docregion label -->
  <mat-step [stepControl]="secondFormGroup" label="Commande">
    <!-- #enddocregion label -->
    <form [formGroup]="secondFormGroup">
      <mat-selection-list
        #cakeList
        [formControl]="cakeControl"
        name="cakes"
        [multiple]="true"
      >
        @for (cake of cakes; track cake) {
          <mat-list-option [value]="cake.id"
            >{{ cake.name }} - {{ cake.parts }} parts</mat-list-option
          >
        }
      </mat-selection-list>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Terminé</ng-template>
    <p>Commande ajoutée</p>
    <app-button
      [text]="'Retour aux commandes'"
      [route]="'/orders'"
    ></app-button>
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="stepper.reset()">Reset</button>
    </div>
  </mat-step>
</mat-stepper>
