<div id="new-order-container">
  <div class="client-selection">
    @if (!selectedClient) {
      <form [formGroup]="firstFormGroup">
        <mat-form-field class="example-full-width">
          <mat-label>Choix du client</mat-label>
          <input
            type="text"
            placeholder="Recherche"
            aria-label="Choix du client"
            matInput
            [formControl]="firstFormGroup.controls.clientControl"
            [matAutocomplete]="auto"
          />
          <mat-autocomplete
            #auto="matAutocomplete"
            [displayWith]="displayClient.bind(this)"
            (optionSelected)="onClientSelected($event)"
          >
            @for (option of clientsData; track option) {
              <mat-option [value]="option.id"
              >{{ option.lastname }} {{ option.firstname }}</mat-option
              >
            }
          </mat-autocomplete>
        </mat-form-field>
      </form>
    } @else {
      <div class="clientInfo">
        <mat-card appearance="outlined">
          <mat-card-header>
            <mat-card-title>{{selectedClient.firstname}} {{selectedClient.lastname}}</mat-card-title>
            <mat-card-subtitle>{{selectedClient.phone}}</mat-card-subtitle>
          </mat-card-header>
          <mat-card-actions>
            <button mat-button (click)="resetClient()">Modifier le client</button>
          </mat-card-actions>
        </mat-card>
      </div>
    }
  </div>
  <div class="cake-selection">
    <app-button
      [text]="'AJOUTER UN GATAL'"
      [icon]="'list_alt'"
      [route]="'orders'">
    </app-button>
  </div>
</div>
