<div class="title">
  <h2>Commandes du jour</h2>
</div>
<div class="table_container">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <!-- Name Column -->
    <ng-container matColumnDef="Client">
      <th mat-header-cell *matHeaderCellDef>Client</th>
      <td mat-cell *matCellDef="let element">{{ element.Client }}</td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="nb_pieces">
      <th mat-header-cell *matHeaderCellDef>Nb Piéces</th>
      <td mat-cell *matCellDef="let element">{{ element.nb_pieces }}</td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="total">
      <th mat-header-cell *matHeaderCellDef>Total</th>
      <td mat-cell *matCellDef="let element">{{ element.total }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
