<div class="title">
  <h2>{{ title }}</h2>
  @if (addButton) {
    <div class="add_button_container">
      <app-button
        [text]="'Ajouter'"
        [icon]="'add'"
        [openModal]="true"
      ></app-button>
    </div>
  }
</div>
<div class="table_container">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    @for (column of displayedColumns; track column) {
      <ng-container [matColumnDef]="column" [formGroup]="formGroup">
        <th mat-header-cell *matHeaderCellDef>
          {{ cakesTableEnum[column] || column }}
        </th>
        <td mat-cell *matCellDef="let element">
          @if (editModeID === element.id) {
            <mat-form-field>
              <input
                matInput
                [placeholder]="element[column]"
                [formControlName]="column"
                [id]="element.id"
              />
              @if (column === "price") {
                <span matTextSuffix>€&nbsp;</span>
              }
            </mat-form-field>
          } @else {
            {{ column === "price" ? element[column] + " €" : element[column] }}
          }
        </td>
      </ng-container>
    }

    <ng-container matColumnDef="actions">
      <th
        mat-header-cell
        *matHeaderCellDef
        aria-hidden="true"
        class="action-column"
      ></th>
      <td mat-cell *matCellDef="let element" class="actions-cell">
        @if (editMode) {
          <mat-icon class="done-icon" (click)="onValid()">done</mat-icon>
          <mat-icon class="delete-icon" (click)="onClose()">close</mat-icon>
        } @else {
          <mat-icon class="edit-icon" (click)="onEdit(element.id)"
            >edit</mat-icon
          >
          <mat-icon class="delete-icon" (click)="onDelete(element.id)"
            >delete</mat-icon
          >
        }
      </td>
    </ng-container>

    <tr
      mat-header-row
      *matHeaderRowDef="displayedColumns.concat(['actions'])"
    ></tr>
    <tr
      mat-row
      *matRowDef="let row; columns: displayedColumns.concat(['actions'])"
    ></tr>
  </table>
  <mat-paginator
    [pageSizeOptions]="[10, 20, 30]"
    aria-label="Sélectionner page"
  >
  </mat-paginator>
</div>
