<div id="orders-container">
  <div class="button-container">
    <app-button
      [text]="'Nouvelle Commande'"
      [icon]="'add_box'"
      [route]="'/add-orders'"
    ></app-button>
  </div>
  <mat-tab-group>
    <mat-tab label="Commandes du jour">
      @if (todayOrders.filteredData.length === 0) {
        <h2 class="orders-table">Pas de commande aujourd'hui</h2>
      } @else {
        <app-table
          [dataSource]="todayOrders"
          [displayedColumns]="[
            'customer.firstname',
            'customer.lastname',
            'Withdrawal_date',
            'total',
            'delivered',
          ]"
          [orderTable]="true"
          [formGroup]="orderFormGroup"
          (deleteButtonClick)="deleteOrder($event)"
          (editButtonClick)="editOrder($event)"
          (markAsDeliveredClick)="markAsDelivered($event)"
        >
        </app-table>
      }
    </mat-tab>
    <mat-tab label="Commandes à venir">
      @if (upcomingOrders.filteredData.length === 0) {
        <h2 class="orders-table">Pas de commande à venir</h2>
      } @else {
        <app-table
          [dataSource]="upcomingOrders"
          [displayedColumns]="[
            'customer.firstname',
            'customer.lastname',
            'Withdrawal_date',
            'total',
            'delivered',
          ]"
          [orderTable]="true"
          [formGroup]="orderFormGroup"
          (deleteButtonClick)="deleteOrder($event)"
          (editButtonClick)="editOrder($event)"
          (markAsDeliveredClick)="markAsDelivered($event)"
        >
        </app-table>
      }
    </mat-tab>
  </mat-tab-group>
</div>
